.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    height: 70px;
    margin: auto;
    background-color: hsl(200, 70%, 50%);
}

.header__right,
.header__left {
    display: flex;
}
