.search-params {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.search {
    display: flex;
    gap: 6px;
    font-size: 1rem;
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;
    margin-top: 16px;
}
